{% extends  'base_admin.html' %} 
{% block title%}Users - FPT PROJECT{% endblock%}
{% load static %}
{% block linkcss %}
{% endblock %}
{% block content %}
<!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="loader">
            <div class="loader__figure"></div>
            <p class="loader__label">Users - FPT PROJECT</p>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">        
        {% include  'header_admin.html' with username=username %} 
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <div class="row page-titles">
                    <div class="col-md-5 align-self-center">
                        <h3 class="text-themecolor">USERS</h3>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'admin' %}">Home</a></li>
                            <li class="breadcrumb-item active">USERS</li>
                        </ol>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <div class="row">
                    <form id="change_pass_admin" action="{% url 'change' %}" class="" method="POST" onkeydown="return event.key != 'Enter';">
                        {% csrf_token %}
                        <label><b>Username: {{request.user}}</b></label>
                        <br>
                        <label><b>Old password</b></label>
                        <br>
                        <input type="password" placeholder="Enter old password" name="old_password" required autocomplete="off">
                        <br>
                        <label><b>New Password</b></label>
                        <br>
                        <input type="password" placeholder="Enter new password" name="new_password" required autocomplete="off">
                        <br>
                        <label><b>Password confirmation:</b></label>
                        <br>
                        <input type="password" placeholder="Password confirmation" name="re_password" required autocomplete="off">
                        <br>
                        <p class="{{class_css}}">{{message}}</p>
                        <Button class="btn btn-success" type="submit">Change Pass</button>
                    </form>
                </div>
                <!-- ============================================================== -->
                <!-- End Page Content -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->            
            {% include  'footer_admin.html' %} 
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
{% endblock %}
{% block scripts %}
{% endblock %}

