{% extends  'base_admin.html' %} 
{% block title%}Users - FPT PROJECT{% endblock%}
{% load static %}
{% block linkcss %}
{% endblock %}
{% block content %}
<!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="loader">
            <div class="loader__figure"></div>
            <p class="loader__label">Users - FPT PROJECT</p>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">        
        {% include  'header_admin.html' with username=username %} 
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <div class="row page-titles">
                    <div class="col-md-5 align-self-center">
                        <h3 class="text-themecolor">USERS</h3>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'admin' %}">Home</a></li>
                            <li class="breadcrumb-item active">USERS</li>
                        </ol>
                    </div>
                </div>
                <form id="form_delete_user" action="{% url 'delete_user' %}" method="POST" onkeydown="return event.key != 'Enter';" hidden>
                    {% csrf_token %}
                    <input type="id" hidden value="{{user_e.id}}" name="id">
                </form>
                <form id="form_edit_user" action="{{request.path}}" class="" method="POST" onkeydown="return event.key != 'Enter';">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-sm">
                            <h1>Information</h1>
                            <label><b>User name: {{user_e.username}}</b></label>
                            <br>
                            <label><b>First name:</b></label>
                            <br>
                            <input type="text" placeholder="Enter firstname" value="{{user_e.first_name}}" name="firstname">
                            <br>
                            <label><b>Last name:</b></label>
                            <br>
                            <input type="text" placeholder="Enter lastname" value="{{user_e.last_name}}" name="lastname">
                            <br>
                            <label><b>Email:</b></label>
                            <br>
                            <input type="email" placeholder="Enter email" value="{{user_e.email}}" name="email">
                            <br>
                        </div>
                        <div class="col-sm">
                            <h1>Permission</h1>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" {% if user_e.is_staff %} checked{% endif %} name="checkper[]" id="Checkper1" value="1">
                                <label class="form-check-label" for="Checkper1">
                                    Staff
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" {% if user_e.is_active %} checked{% endif %} name="checkper[]" id="Checkper2" value="2">
                                <label class="form-check-label" for="Checkper2">
                                    active
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" {% if user_e.is_superuser %} checked{% endif %} {%if not request.user.is_superuser%} onclick="return false;"{%endif%} name="checkper[]" id="Checkper3" value="3">
                                <label class="form-check-label" for="Checkper3">
                                    Supper user
                                </label>
                            </div>
                            {% for per in pers %} 
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" {% if per in permissions %} checked{% endif %} name="checkbox[]" id="flexCheck{{per.id}}" value="{{per.id}}">
                                    <label class="form-check-label" for="flexCheck{{per.id}}">
                                        {{per.name}}
                                    </label>
                                </div>
                            {% endfor %} 
                        </div>
                    </div>
                    <br>
                </form>                                    
                <button form="form_delete_user" class="btn btn-danger" type="submit">Delete</button>
                <button form="form_edit_user" class="btn btn-success" type="submit">Save</button>
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->            
            {% include  'footer_admin.html' %} 
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
{% endblock %}
{% block scripts %}
{% endblock %}

