{% extends  'base_admin.html' %} 
{% block title%}Users - FPT PROJECT{% endblock%}
{% load static %}
{% block linkcss %}
{% endblock %}
{% block content %}
<!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="loader">
            <div class="loader__figure"></div>
            <p class="loader__label">Users - FPT PROJECT</p>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">        
        {% include  'header_admin.html' with username=username %} 
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <div class="row page-titles">
                    <div class="col-md-5 align-self-center">
                        <h3 class="text-themecolor">USERS</h3>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                            <li class="breadcrumb-item active">USERS</li>
                        </ol>
                    </div>
                </div>
                <form action="{{request.path}}" class="" method="POST">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-sm">
                            <h1>Information</h1>
                            <label><b>User name: {{user_e.username}}</b></label>
                            <br>
                            <label><b>First name:</b></label>
                            <br>
                            <input type="text" placeholder="Enter firstname" value="{{user_e.first_name}}" name="firstname">
                            <br>
                            <label><b>Last name:</b></label>
                            <br>
                            <input type="text" placeholder="Enter lastname" value="{{user_e.last_name}}" name="lastname">
                            <br>
                            <label><b>Email:</b></label>
                            <br>
                            <input type="email" placeholder="Enter email" value="{{user_e.email}}" name="email">
                            <br>
                            <input type="submit" hidden>
                        </div>
                        <div class="col-sm">
                            <h1>Permission</h1>
                            {% for per in pers %} 
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" {% if per.user == user_e.id %} checked{% endif %} name="checkbox" id="flexCheck{{per.id}}" value="{{per.id}}">
                                    <label class="form-check-label" for="flexCheck{{per.id}}">
                                        {{per.name}}
                                    </label>
                                </div>
                            {% endfor %} 
                        </div>
                    </div>
                    <br>                    
                    <button class="btn btn-danger" type="button">Delete</button>
                    <button class="btn btn-success" type="button">Save</button>
                </form>
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->            
            {% include  'footer_admin.html' %} 
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
{% endblock %}
{% block scripts %}
{% endblock %}

