{% extends  'base_admin.html' %} 
{% block title%}Users - FPT PROJECT{% endblock%}
{% load static %}
{% block linkcss %}
{% endblock %}
{% block content %}
<!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="loader">
            <div class="loader__figure"></div>
            <p class="loader__label">Users - FPT PROJECT</p>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">        
        {% include  'header_admin.html' with username=username %} 
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <div class="row page-titles">
                    <div class="col-md-5 align-self-center">
                        <h3 class="text-themecolor">USERS</h3>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'admin' %}">Home</a></li>
                            <li class="breadcrumb-item active">USERS</li>
                        </ol>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                
                <div class="row">                
                    <div class="col-lg-6 col-md-12">
                        <div class="card card-body mailbox">
                            <h5 class="card-title">All users</h5>
                            <table class="table">
                                <thead>
                                  <tr>
                                    <th scope="col">Username</th>
                                    <th scope="col">Active</th>
                                    <th scope="col">Staff</th>
                                    <th scope="col">Supper user</th>
                                  </tr>
                                </thead>
                                <tbody>
                                    {% for user in Users %} 
                                    <tr>
                                        {%if 'auth.change_user' in perms or 'auth.delete_user' in perms or request.user.is_superuser %}
                                        <td><a href="{% url 'edit_user' user.id %}">{{user.username}}</a></td>
                                        {%else%}
                                        <td><a>{{user.username}}</a></td>
                                        {%endif%}
                                        {% if user.is_active %}
                                        <td class="text-success">Yes</td>
                                        {% else %}
                                        <td class="text-danger">No</td>
                                        {% endif %}
                                        {% if user.is_staff %}
                                        <td class="text-success">Yes</td>
                                        {% else %}
                                        <td class="text-danger">No</td>
                                        {% endif %}
                                        {% if user.is_superuser %}
                                        <td class="text-success">Yes</td>
                                        {% else %}
                                        <td class="text-danger">No</td>
                                        {% endif %}
                                    </tr>
                                    {% endfor %} 
                                </tbody>
                            </table>
                        </div>
                    </div>
                    {%if 'auth.add_user' in perms or request.user.is_superuser%}
                    <div class="col-lg-6 col-md-12">
                        <a href="{% url 'create_user'%}" class="btn btn-success">Add user</a>
                    </div>
                    {%endif%}
                </div>
                <!-- ============================================================== -->
                <!-- End Page Content -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->            
            {% include  'footer_admin.html' %} 
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
{% endblock %}
{% block scripts %}
{% endblock %}

